
nextflow.enable.dsl=2
singularity.enabled = true

process {
    withName: COWSAY {
        container   = "library://ckoch5/osg-clk/cowsay:training"
  }
}

singularity {
    enabled = true
    runOptions = "--bind /pgen_int_work --bind /nas/weka.gel.zone --bind /public_data_resources --bind /tools"
}

process {
  cpus = 1
  executor = 'awsbatch'
}
